{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}


{% extends 'admin/adminindex.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="addcoursecode">
  <table width="255" border="1" class="table table-bordered">
    <tr>
      <th width="245" scope="col">course
        <label>
        <input type="text" name="textfield" class="form-control" required  />
      </label></th>
    </tr>
    <tr>
      <td><strong> description</strong>
        <label>
        <input type="text" name="textfield2" class="form-control" required pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
  </table>
  <p>
    <label>
    
    <div align="left">
      <input type="submit" name="Submit" value="ADD" class="btn btn-primary" />
    </div>
    </label>
  </p>
</form>
</body>
{% endblock %}
