{% extends 'student/indexstudent.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="">
  <p>&nbsp;</p>
   <table width="200" border="1" class="table table-bordered">
    <tr>
      <td><p>question :</p>
      <p>answer
        <label>
        <input type="text" name="textfield" />
        </label>
</p>
      <p>
        <label>
        <input type="submit" name="Submit" value="NEXT" />
        </label>
        <label>
        <input type="submit" name="Submit2" value="FINISH" />
        </label>
      </p></td>
    </tr>
  </table>
  <p>&nbsp;  </p>
</form>
{% endblock %}